:root {
  --primary-color: #67b1c6;
  --secondary-color: rgb(247, 247, 174);
}
html {
  margin: 0;
}

* {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  text-decoration: none !important;
}
h1,
h2,
h3,
p {
  color: var(--secondary-color);
}

/* nav bar */
.nav-links {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  border-radius: 30px;
  color: var(--primary-color);
  border-radius: 18px;
  padding: 6px 24px;
  font-size: 18px;
  display: flex;
}
.nav-links.primary {
  background-color: var(--primary-color);
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px 8px;
  text-align: center;
  width: 100%;
  padding: 0 32px;
}
.nav-links .grid h2 {
  color: var(--primary-color);
}
/* local Team */
.Team {
  margin: 0 auto;
  max-width: 600px;
  width: 95%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
}

.AddPlayerForm {
  display: flex;
  flex-wrap: wrap;
}

.AddPlayerForm input {
  padding: 1.5rem;
  border: 1px solid #868f89;
  border-radius: 3px;
}

.AddPlayerForm input[type="text"] {
  flex-grow: 1;
  margin-right: 0.5rem;
}
input,
button {
  font: inherit;
  box-sizing: border-box;
}

input[type="submit"],
button {
  cursor: pointer;
}
.players {
  list-style-type: none;
  padding: 0;
}

.Player {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: #eee;
}

.Player .remove-button {
  font-size: 80%;
  float: right;
  border: 0;
  border-radius: 3px;
  background: transparent;
}

.Player .remove-button:hover {
  color: #fff;
  background-color: #000;
}
.button-link {
  display: inline-block;
  background-color: #0056b3;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 600px;
}

.button-link:hover {
  background-color: #007bff;
}
.button-link h2 {
  text-align: center;
}
.card {
  padding: 20px 20px;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #141c3a;
  background-color: white;
  color: black;
  cursor: pointer;
  height: 120px;
  width: 160px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover,
.card:focus {
  background-color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-auto-rows: 1fr;
  gap: 16px 16px;
  margin: 0 auto;
  width: fit-content;
  padding: 24px 0 33px 0;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  display: block; /* This ensures the image respects its container's dimensions */
  margin: auto; /* Centers the image horizontally within the button */
}

.card.selected {
  background-color: initial;
  color: #141c3a;
  border: solid 1px #141c3a;
}

.card.matched {
  border-width: 5px;
  border-color: green;
}

.card.no-match {
  border-width: 5px;
  border-color: red;
}

.logo-placeholder {
  width: 100%;
  height: 115%;
}
/* score container */
.score-container {
  background-color: #868f89;

  text-align: center;
  font-size: 32px;
}

.footer > button {
  width: 50%;
  padding: 19px 40px 19px 40px;
  font-size: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.start-button {
  background-color: #141c3a;
}

.start-button:hover,
.start-button:focus {
  background-color: #2c3f81;
}

.try-new-pair-button {
  background-color: #6400e4;
}

.try-new-pair-button:hover,
.try-new-pair-button:focus {
  background-color: #7d1aff;
}
/*word-container */
.word-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #787878;
  padding: 10px;
}
.word-container h2 {
  margin-right: 50px;
}
/* canvas */
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* Adjust the height as needed */
}

canvas {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Add any additional styling for the canvas */
}

.buttons {
  margin-top: 10px; /* Adjust the margin as needed */
}

.draw-erase,
.clear-canvas {
  margin-right: 10px; /* Adjust the margin as needed */
}
.back button {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 30px;
  color: var(--primary-color);
  font-size: 16px;
  padding: 9px 36px;
  height: fit-content;
  cursor: pointer;
}

button.primary {
  background-color: var(--primary-color);
  color: white;
}
/* Instructions*/
.page {
  padding-top: 50px;
}
.instructions-container {
  width: 600px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Center the container horizontally */
  background-color: var(
    --primary-color
  ); /* Background color for the container */
}
.main {
  padding-top: 100px;
}
.about-container {
  width: 1000px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Center the container horizontally */
  background-color: var(
    --primary-color
  ); /* Background color for the container */
}
